{% extends 'base.html.twig' %}
{% block body %}
    <h1>
        Archive
    </h1>

    {% for blogpost in blogposts %}
        <article>
            <h1><a href="{{ app.url_generator.generate('blogpost', {id: blogpost.postID} ) }}">{{ blogpost.postTitle }}</a></h1>
            <p>{{ blogpost.postContent }}</p>
            <p><small>On {{ blogpost.postDate }} by {{ blogpost.authorName }}</small></p>
        </article>
    {% endfor %}

{% endblock %}